streamlit>=1.37
pandas>=2.2
numpy>=1.26
requests>=2.31
yfinance>=0.2.43
plotly>=5.22
qrcode[pil]>=7.4
pillow>=10.0
psycopg2-binary>=2.9,<3
SQLAlchemy>=2.0
python-dotenv>=1.0
beautifulsoup4>=4.12
lxml>=4.9
tqdm>=4.66

stripe>=6.0.0
